data/
*.csv
*.xlsx
*.accdb
.Rproj.user
.Rhistory
.RData
.Ruserdata
!tests/test-data/activities.csv
!tests/test-data/results_attach_ta_flags.csv
!tests/test-data/results_blanks.csv
!tests/test-data/results_replicates_ccal.csv
!tests/test-data/results_replicates_test_america.csv
!tests/test-data/results_tot_vs_dissolved.csv